html,

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active-link {
  text-decoration: underline;
  font-size: 1.2em;
  color: red ;
}

.pointer:hover {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}
